I am executing a program that contains nondeterministic assignments along with assertions (e.g., in the form of `ensure` and `fail` statements). I am stuck at one of these nondeterministic assignments and your goal is to generate an assigned value, in such a way that the program can go on and not fail any assertion.

More specifically, I'll give you three pieces of information:

- A nondeterministic program.
- The name of the variable that is being assigned at the program location where I am currently stuck.
- Some values for a number of local variables.

Your job is to generate a correct value to assign. The expected type of this value is indicated inside the nondeterministic assignment operator.

Terminate your answer with a code block (delimited by triple backquotes) that contains a YAML object of the requested type. Do not wrap this YAML value into an object with a field named like the assigned variable.