Program:

```
{{ query.strategy_source | trim }}
```

Variable being currently assigned: {{ query.tags[0] }}

Selected local variables:

```yaml
{{ query.locals | yaml | trim }}
```

Type of value to generate (as a YAML object): {{ query.expected_type }}