Can you propose invariants for the following Why3 program in order to prove that the final assertion always holds?

```mlw
{{ query.prog| trim }}
```

Please reason carefully and then finish your answer with a YAML object surrounded by triple quotes that denotes a list of invariants. If you make a mistake, I'll give you feedback and you'll have another chance to answer (using the same format).