{% if feedback.meta.error %}
Error:

"""
{{ feedback.meta.error }}
"""
{% else %}
Some obligations failed to be proved. Here is a list of them:

{% for obl in feedback.meta.obligations %}
## {{ obl.name }}

```mlw
{{ obl.relevance_hints|trim }}
```
{% endfor %}
{% endif %}