{% include 'shared/intro.jinja' %}


I will show you an annotated program. Please ignore all comments in this program. Your task is to tell me whether or not this program features redundant invariants. For example, having both invariants `x >= 1` and `x >= 2` is unnecessary since the second one is stronger and thus `x >= 1` is redundant. Similarly, having invariants `x > 0`, `y > 0` and `x + y > 0` is redundant since the first two invariants together imply the third one.

You should terminate your answer with a triple-quoted code block containing a YAML object with boolean field `has_redundant_invs`. In case of doubt, please be conservative and conclude that no redundant invariant was found.