I am going to give you a list of formulas, along with a new one. Your task is to tell me if the new formula is equivalent to one already in the list. Note that all involved variables are integer variables. Thus, formula `x > 0` is considered equivalent to formula `x >= 1`. However, it is not equivalent to `x >= 1 && x <= 3`.

Please terminate your answer with a triple-quoted code block containing
 `yes` if the new formula is novel (not in the list) and `no` otherwise.