Here is the program that Why3 was tasked to verify.

```mlw
{{ query.unproved.relevance_hints|trim }}
```

The name of the proof obligation that failed is: `{{ query.unproved.obligation_name }}`. Can you fix this?
{% if query.blacklist %}

Here is a list of proposed changes that were tried previously and did not work. You should not try those again:

{% for proposal in query.blacklist %}
- {{ proposal }}
{% endfor %}
{% endif %}