{% include 'shared/intro.jinja' %}

I will show you a program that has been partially annotated with zero or more loop invariants. However, Why3 did not manage to prove all suggested assertions and invariants and one of them remains unproved. In order to change this, you will have to either propose new invariants or repair a currently failing invariant by adding a new disjunct to it.

In order to help you diagnose the problem, we added comments to the WhyML program indicating what assertion or invariant failed to be proved (`GOAL`) and what parts of the program provide relevant assumptions (`premise`).

In addition, I will summarize a list of changes that were tried already and did not prove successful. You must try and suggest something different.

---

You should carefully check the proposed examples and organize your answer as follows. First, try and understand the problem using the information above. Then, suggest a simple change to fix it, which can be either:

1. The addition of one or several invariants **before** the current list. These new proposed invariants should be true and helpful in proving the currently unproved obligation.
2. An additional disjunct to the currently unproved invariant proposal.

You must end your answer with a triple-quoted code block that contains an exact copy of the original program, with two modifications:

1. Your proposed change must be implemented.
2. All comments must be stripped and no new comment should be added.