{% include 'shared/intro.jinja' %}


I'll show you a program and a candidate for a new loop invariant. You must figure out whether or not the proposed invariant holds initially.

Please terminate your answer with an unlabeled triple-quote code block that contains a score from 1 (lowest) to 5 (highest), indicating your confidence that the proposed invariant holds initially. For example:


Score:
```
4
```