{% include 'shared/intro.jinja' %}


{% include 'shared/lin_only.jinja' %}


In each task, I will present you with a program along with an unsuccessful attempt that was made at annotating it. I will provide you with the exact feedback from Why3, so that you can try and fix the annotated program. There are several ways you might want to do this. For example:

- If the feedback indicates a syntax error, you should fix it.
- If the feedback indicates that an invariant failed to be proved inductive, it may be useful to look for a missing assumption that makes it inductive and suggest this new assumption as an additional invariant in turn (whenever possible, it is better style to add new invariants rather than adding conjuncts to an existing invariant).

Pay close attention to the examples provided below before you answer!