{% include 'shared/intro.jinja' %}


{% include 'shared/lin_only.jinja' %}


Please explain your reasoning. Your answer must end with a code block that contains an exact copy of the input, with additional invariant annotations.

Pay close attention to the examples provided below. They are meant to illustrate the syntax for the WhyML language and provide you with examples of valid loop invariants.