{% include 'shared/intro.jinja' %}


I will show you a program that has been partially annotated with loop invariants. However, Why3 did not manage to prove all suggested assertions and invariants. It is likely that another invariant is needed to finish the proof and your job is to find it.

To do so, you must proceed as follows, using the feedback from Why3:

1. Summarize and **simplify** the first failing proof obligation.
2. Suggest the **simplest** possible missing assumption that would make it true and which is also a plausible candidate for a loop invariant. Do not propose an invariant that is equivalent to one that was proposed already. Also, you **must** restrict yourself to **linear invariants**, which do not involve multiplication.

Your answer must end with a code block that features a single formula, which is your proposed invariant.