Here is the program that Why3 was tasked to verify.

```mlw
{{ query.prog|trim }}
```

However, Why3 did not succeed in proving some assertions and/or invariants. Thus, you must suggest a new loop invariant to unlock the proof.

{% if query.proposed_already %}
{% for banned in query.proposed_already %}
**Do not propose** invariant `{{ banned }}`, which has been tried already.
{% endfor %}
{% endif %}

Structure your answer as previously requested, leveraging the following feedback from Why3.

{% if query.feedback.error %}
Indeed, it output the following error:

```
{{ query.feedback.error }}
```
{% else %}

## Why3 Feedback

Each subsection that follows details a failing proof obligation.

{% for obl in query.feedback.obligations %}
### {{ obl.name }}

Goal that failed to prove:

```
{{ obl.goal }}
```

Available assumptions:

```
{{ obl.context }}
```

{% endfor %}
{% endif %}