We only allow invariants that feature logical combinations of **linear** arithmetic expressions. Thus, we accept invariants such as `a > 0 || 2*x + y < n` or `n > 0 -> x + y > 0` but not `x >= y * (y + 1) / 2`.